
<!------ AQUI É O COMEÇO DO HOME ---------->
<section class="login-block">

  <!--CONTAINER PRINCIPAL PROGRAMA-->
  <div class="container">

<div class="row">
  <div class="col-md-4 login-sec">
      <h2 class="text-center">Login </h2>
      <form class="login-form">
<div class="form-group">
  <label for="exampleInputEmail1" class="">Username</label>
  <input type="text" class="form-control" placeholder="">

</div>
<hr>
<div class="form-group">
  <label for="exampleInputPassword1" class="">Password</label>
  <input type="password" class="form-control" placeholder="">
</div>
<hr>

  <div class="form-check">
  <label class="form-check-label">
    <input type="checkbox" class="form-check-input">
    <small>Lembrar de mim</small>
  </label>

  <button type="submit" class="btn btn-login float-right">Entrar</button>
</div>

</form>
<div class="copy-text">Criado por <i class="fa fa-heart"></i> por <a href="https://github.com/wallace-virginio">Wallace</a></div>
  </div>
  <div class="col-md-8 banner-sec">
          <div class="carousel-inner" role="listbox">
  <div class="">
    <img class="d-block img-fluid" src="https://images.pexels.com/photos/380769/pexels-photo-380769.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
    <div class="">
      <div class="banner-text">
          <h2>Bem vindo </h2>
          <p>A Empresa BoxTech, como uma caixinha de surpresa, temos uma novidade constante a todo instante.</p>
          <p>"Você se torna o que você acredita"</p>
          <p>~Oprah Winfrey</p>
      </div>
</div>
  </div>
          </div>

  </div>
</div>
</div>
</section>
